.container{
  text-align: center;
  padding:40 px;
  min-height: 100vh;
  background-color: blanchedalmond;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
  margin: 20px 0;
}

.btn{
  padding: 10px 20px;
  margin: 8px;
  font-size: 20px;
  cursor: pointer;

}

.happy{

  background-image: url("https://cdn.pixabay.com/photo/2022/01/11/19/43/avocado-6931344_1280.jpg");
   background-repeat: no-repeat;       
  background-size: cover;            
  background-position: center center;
}

.sad{
  background-image: url("https://cdn.pixabay.com/photo/2015/03/15/18/23/sad-674811_1280.jpg");
  background-repeat: no-repeat;       
  background-size: cover;            
  background-position: center center;
}

.excited{
  background-image: url("https://cdn.pixabay.com/photo/2015/06/24/06/45/background-819577_1280.jpg");
  background-repeat: no-repeat;       
  background-size: cover;            
  background-position: center center;
}

.angry{
  background-image: url("https://cdn.pixabay.com/photo/2019/10/01/16/56/crab-4518784_1280.png");
  background-repeat: no-repeat;       
  background-size: cover;            
  background-position: center center;
}
